html,
body {
  margin: 0px;
  padding: 0px;

  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  min-width: 320px !important;

  overflow: auto;
}

.projects {
  flex-grow: 1;
}

main.projects .wrapper {
  min-height: 100px;
}

@media only screen and (max-width: 576px) {
  main.projects .wrapper {
    max-width: 420px;
  }
}

.long-div {
  background-color: red;
  height: 2000px;
}

.footer {
  padding: 8px 16px;
}
